# dependencies
ruyal/node_modules
ruyal/.pnp
ruyal/.pnp.js

# testing
ruyal/coverage

# next.js
ruyal/.next/
ruyal/out/

# production
ruyal/build

# misc
.DS_Store
*.pem

# debug
ruyal/npm-debug.log*
ruyal/yarn-debug.log*
ruyal/yarn-error.log*

# local env files
ruyal/.env*.local

# vercel
ruyal/.vercel

# typescript
ruyal/*.tsbuildinfo
ruyal/next-env.d.ts
